#container{
    height: 4rem;
    width: 95vw;
    margin-top: 1.2rem;
    margin-left: 5vw;
    background-color: rgb(134 254 144 / 28%);
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-start;
    padding-left: 2rem;
    align-items: center;
    letter-spacing: 0.185rem;
    text-align: center;
}

@media(max-width: 400px){
    #container{
        height: 5rem;
        font-size: 1.4rem;
    }
}

@media(max-width: 400px){
    #container{
        font-size: 1rem;
    }
}

@media(max-width: 170px){
    #container{
        font-size: .75rem;
    }
}

@media(max-width: 110px){
    #container{
        letter-spacing: .15rem;
        font-size: .55rem;
    }
}

@media(max-width: 208px){
    #container{
        margin-left: 0;
        padding-left: .5em;
    }
}