#img-container-1 {
    height: 96px; 
    width: 96px
}

#card-content-1 {
    width: 95%;
}

#city-name-1{
    font-size: 1.3rem
}

#country-name-1{
    border-bottom: .5px solid salmon;
}

#temp-c {
    font-size: 2em 
}

@media(max-width: 272px){
    #card-content-1 {
        width: 100%;
    }
}

@media(max-width: 208px){
    #img-container-1 {
        height: 64px; 
        width: 64px
    }

    #city-name-1{
        font-size: 1rem
    }

    #country-name-1 {
        font-size: .85rem;
    }

    #temp-c {
        font-size: 1.3em 
    }

    #temp-f {
        font-size: .9em 
    }
}