#card-container-weathercard{
    width: 60vw; 
    height: auto;
    margin: auto;
    margin-top: 2.5rem;
    margin-bottom: 5rem;
    background-color: rgba(255, 193, 7, 39%);
    border-radius: 1rem;
}

.content-title-weathercard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 1.35em;
    border-bottom: .75px solid rgb(137, 126, 126);
    border-bottom-style: groove;
}

#img-container-weathercard{
    height: 112px;
    width: 112px
}

#city-name-weathercard{
    font-size: 2rem
}

#country-name-weathercard{
    font-size: 1.2rem;
    border-bottom: .5px solid salmon;
}

#last-content-weathercard {
    border-bottom: 0;
}

@media(max-width: 592px) {
    #card-container-weathercard{
        width: 85vw
    }
}

@media(max-width: 500px) {
    .content-title-weathercard{
        flex-direction: column;
        margin-bottom: 1.35rem;
        justify-content: center;
    }

    #img-container-weathercard{
        height: 80px;
        width: 80px
    }

    #city-name-weathercard{
        font-size: 1.4rem
    }
    
    #country-name-weathercard{
        font-size: 1rem
    }
}

@media(min-width: 768px) {
    #card-container-weathercard{
        width: 50vw;
    }

}

@media(min-width: 992px) {
    #card-container-weathercard{
        width: 40vw;
    }
}

@media(max-width: 208px) {
    .content-title-weathercard{
        font-size: .90em;
    }
    #city-name-weathercard{
        font-size: 1rem
    }
    
    #country-name-weathercard{
        font-size: .85rem
    }
}