.display-content-while-search {
    margin-top: 4rem;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

#blank-container {
    height: 5.5rem;
}

@media(max-width: 768px){
    #alert {
        width: 70vw
    }
}

@media(max-width: 300px){
    #alert {
        width: 90vw
    }
}

@media(max-width: 592px){
    #blank-container {
        height: 1.5rem;
    }
}

@media(max-width: 208px){
    #blank-container {
        height: 0;
    }
}

@media(min-width: 1400px){
    #blank-container {
    height: 8.5rem;
    }
}